
import Socials from '../Socials.astro'


<footer
  class="col-span-full flex w-full flex-col items-center md:flex-row md:justify-between"
>
  <Socials />
  <p class="prose-sm text-center md:text-right">
  </p>
</footer>
