
import Layout from '../layouts/Layout.astro'

<Layout title="Hi, I'm Andrzej">
  <div
    class="grid h-full place-items-center text-center row-start-site-start row-end-site-end prose-headings:m-0"
  >
    <div class="flex h-full flex-col items-center justify-center gap-8">
      <h1>Hello, I'm Andrzej</h1>
      <h2>
        Currently Test Automation Engineer for <a
          href="https://survicate.com"
          rel="external"
          target="_blank">Survicate</a
        >
      </h2>
      <ol class="text-left">
        <li>Contact me <a href="/contact">on LinkedIn</a></li>
        <li>CV <a href="/cv" target="_blank">[view here]</a></li>
        <li>Resume <a href="/resume" target="_blank">[view here]</a></li>
      </ol>
    </div>
  </div>
</Layout>
